<mat-form-field class="w-1/3" appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="Search.." [formControl]="searchInput">
    <ng-container matSuffix>
        @if (!!searchInput.getRawValue()) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchInput.reset()" class="mr-2">
                <mat-icon>close</mat-icon>
            </button>
        } @else {
            <mat-icon>search</mat-icon>
        }
    </ng-container>
</mat-form-field>